{% extends 'core/base.html' %}

{% block title %}Restablecimiento de contraseña realizado{% endblock %}
{% load static %}

{% block content %}
<main>
  <div class="container-crear">
    <div class="item-crear">
      <div class="form-control1">
        <h3>Restablecimiento de contraseña realizado</h3>
        <p>Su contraseña fue restablecida con éxito. Ahora puede iniciar sesión.</p>
        <p><a style="color:blue" href="{% url 'login' %}">Iniciar sesión</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}