{% extends 'core/base.html' %}

{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% load static %}

{% block content %}
<main>
  <div class="container-crear">
    <div class="item-crear">
      <div class="form-control1">
        <h3>Restablecimiento de contraseña enviado</h3>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}