{% extends 'core/base.html' %}

{% block title %}Restablecer contraseña{% endblock %}
{% load static %}

{% block content %}
<style>.errorlist{color:red;}</style>
<main>
  <div class="container-crear">
    <div class="item-crear">
      <form action="" method="post">
        <div class="form-control1">
          {% csrf_token %}
          <h3>Restablecer contraseña</h3>
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" id="id_email" placeholder="Introduce tu email"/></p>
          <p><button class="buttons b-form" type="submit" value="">Confirmar</button></p>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}