main {
    padding-top: 10vh;
}

.container-biblioteca {
    display: block;
    height: auto;
}

.items-library1 {
    height: auto;
    margin: 7rem 5rem;
}

.front-end {
    display: flex;
    column-gap: 2rem;
    row-gap: 7rem;
    color: rgb(238, 238, 238);
    flex-wrap: wrap;
}

.items-front-end {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    padding: 2rem;
}

div img {
    width: 25rem;
    height: 35rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:640px) and (max-width:1024px) {
    body {
        font-size: 2rem;
    }

    main {
        padding-top: 16vh;
    }

    .items-library1 {
        margin: 5rem;
    }

    .front-end {
        row-gap: 3rem;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .items-front-end {
        padding: 1rem;
    }

    div img {
        width: 20rem;
        height: 30rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width:640px) {
    body {
        font-size: 2rem;
    }

    main {
        padding-top: 20vh;
    }

    .items-library1 {
        margin: 5rem;
    }

    .front-end {
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 0;
        row-gap: 3rem;
    }

    .items-front-end {
        padding: 1rem;
    }

    div img {
        width: 20rem;
        height: 30rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

}