{% extends 'core/base.html' %}

{% block title %}BiblioteCaC{% endblock title %}
{% load static %}

{% block content %}
<main>   
    <div class="container-inicio">
            
        <div class="items-inicio inicio1">
            <h1>BiblioteCaC</h1>
            <!-- Acá debería poner dentro del h1 la implementación del título con las llaves. Sino sacar el comentario de aquí y de las views de app core -->
        </div>

        <div class="items-inicio inicio2">
            <div>
                <h3>¿Quiénes somos?</h3>
                <p>BiblioteCaC Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, minus, architecto saepe deserunt deleniti repudiandae, tenetur sunt unde perspiciatis et atque a ipsum quam. Sunt consectetur ex alias vel voluptatibus.
                Placeat voluptatem iste voluptatum accusamus, distinctio temporibus repellendus omnis vero, libero repellat, nemo officiis officia. Tenetur iusto, ex odio animi cumque quas totam rerum laboriosam! Alias deleniti dolor excepturi officia?
                Ex laudantium exercitationem magni facere mollitia sapiente iure voluptates, vitae veniam vero minus asperiores cumque labore rerum neque, repellat sit doloremque voluptatibus aliquam maiores corporis porro sint culpa aspernatur! Voluptas!
                Mollitia soluta perferendis voluptatibus nisi similique rem optio iure! Sed dolores, cumque iure maxime soluta magni magnam fugiat debitis assumenda in corrupti saepe? Aspernatur sed minima aliquam placeat ducimus odio.
                Quo eveniet nostrum omnis fugit doloribus, porro est ut aut tempora distinctio atque excepturi alias nulla non labore id. Magnam, iure! Distinctio minus, aliquam deserunt architecto ut unde animi vitae!</p>
            </div>
        </div>

    </div>
</main>
{% endblock content %}